launchConfigurations/

# IntelliJ
.idea

# npm dependencies
node_modules/

#application log files
Server_Side/logs/

npm-debug.log
Server_Side/logs/app_trace.log

**/.DS_Store

coverage/
.npmignore

# Docker volumes
hyper/
membersrvc/data
chaincode.txt
keyValStore


# VS Code
launch.json
settings.json
.vscode
